<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="akram.bensalem.powersh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="akram.bensalem.powersh.PowerSHApplication"
        android:allowBackup="true"
        android:icon="@drawable/big_circle_powersh"
        android:label="@string/app_name"
        android:roundIcon="@drawable/big_circle_powersh"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash">
        <activity
            android:name="akram.bensalem.powersh.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>